@import "../mixins.scss";

.background {
  /* width: 100vw;
  height: 100vh; */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url("./background.webp"); */
  @include flex(column, center, center, initial);
}

.title {
  @include text(2rem, 700);
  color: var(--text);
  font-style: italic;
}

.card {
  @include size();
  @include flex(column, center, center, 0);
  backdrop-filter: blur(var(--blur));
  z-index: 5;
}