@import "../../mixins.scss";

.button {
  margin-right: 50px;
  margin-top: calc(100vh + 75px);
  position: sticky;
  top: calc(100% - 75px);
  width: 30px;
  height: 30px;
  z-index: 50;
  transition: all 0.5s ease-in-out;

  svg {
    width: 100%;
    height: 100%;
  }

  &:hover {
    transform: rotateY(360deg);
    color: var(--colors-neutral-900);
  }
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
