@import "../../mixins.scss";

.layout {
  min-width: 100%;
  min-height: 100%;
  @include flex(column, center, center, 0);
  background-color: var(--colors-neutral-200);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.main {
  min-width: 100%;
  min-height: 100%;
  @include flex(column, space-between, center, 0);
}
