@import "../../mixins.scss";

.layout {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colors-neutral-100);
  position: relative;
}

.main {}