@import "../../mixins.scss";

.header {
  width: 400px;
  margin-top: 10px;
  height: var(--measures-header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: fixed;
  gap: 50px;
  top: 0;
  z-index: 100;
  border-radius: 20px;
  box-shadow: inset 0 0 50px var(--colors-neutral-800);
  border: 1px solid var(--colors-neutral-900);
  backdrop-filter: blur(var(--effects-blur-500));
}

.navbar {
  ul {
    display: flex;
    gap: 20px;
  }
}

.link {
  font-weight: 300;
  font-size: 14px;
}

.active {
  color: var(--colors-neutral-900);
  font-weight: 600;
}

.button {
  position: relative;
  background-color: var(--colors-neutral-600);
  padding: 6px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;

  svg {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  path {
    color: var(--colors-neutral-900);
  }
}

.touched_button {
  position: relative;
  background-color: transparent;
  padding: 6px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;


  svg {
    transform: rotate(135deg);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  path {
    color: var(--colors-neutral-900);
  }
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--colors-neutral-700);
  z-index: 10;
}

.close_overlay {
  display: none;
}

.close_menu {
  opacity: 0;
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: var(--colors-neutral-700);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  z-index: -1;

  .card {
    display: none;
  }
}

.open_menu {
  opacity: 1;
  position: fixed;
  width: 400px;
  height: 300px;
  background-color: var(--colors-neutral-800);
  box-shadow: 0 0 1rem var(--colors-neutral-900);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  z-index: 10;
  transform: translateX(-155px) translateY(180px);
  border: 1px solid var(--text);

  .card {
    display: block;
  }
}