@import "variables";
@import "mixins";

// GLOBALS
* {
  margin: 0;
  padding: 0;
  font-family: $font;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: $primary $dark;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: $dark;
}

*::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 20px;
  border: 3px solid transparent;
}

*::selection {
  background-color: $secondary;
  color: $dark;
}

body {
  background-color: $dark;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  color: $light;
}
