@import "mixins";

// GLOBALS

:root {
  // COLORS
  --colors-neutral-100: #eaecee;
  --colors-neutral-200: #d5d8dc;
  --colors-neutral-400: #808b96;
  --colors-neutral-300: #abb2b9;
  --colors-neutral-500: #566573;
  --colors-neutral-600: #2c3e50;
  --colors-neutral-700: #273746;
  --colors-neutral-800: #1c2833;
  --colors-neutral-900: #17202a;

  //  EDGES
  --edges-curvature-100: 10px;
  --edges-curvature-200: 20px;
  --edges-curvature-300: 30px;
  --edges-curvature-400: 40px;
  --edges-curvature-500: 50px;
  --edges-curvature-600: 60px;
  --edges-curvature-700: 70px;
  --edges-curvature-800: 80px;
  --edges-curvature-900: 90px;

  // EFFECTS
  --effects-blur-100: 1px;
  --effects-blur-200: 2px;
  --effects-blur-300: 3px;
  --effects-blur-400: 4px;
  --effects-blur-500: 5px;
  --effects-blur-600: 6px;
  --effects-blur-700: 7px;
  --effects-blur-800: 8px;
  --effects-blur-900: 9px;

  // TYPOGRAPHIES
  --font: "Lato", sans-serif;

  // MEASURES
  --measures-page-width: 80vw;
  --measures-header-height: 60px;
  --measures-header-width: 90vw;
  --measures-footer-height: 110px;
  --measures-footer-width: 90vw;
  --vh: 100vh;
}

.light-mode {
  --colors-neutral-000: #bfc1c5;
  --colors-neutral-100: #eaecee;
  --colors-neutral-200: #d5d8dc;
  --colors-neutral-300: #abb2b9;
  --colors-neutral-400: #808b96;
  --colors-neutral-500: #566573;
  --colors-neutral-600: #2c3e50;
  --colors-neutral-700: #273746;
  --colors-neutral-800: #1c2833;
  --colors-neutral-900: #17202a;
}

.dark-mode {
  --colors-neutral-000: #0e141a;
  --colors-neutral-900: #eaecee;
  --colors-neutral-800: #d5d8dc;
  --colors-neutral-700: #808b96;
  --colors-neutral-600: #abb2b9;
  --colors-neutral-500: #566573;
  --colors-neutral-400: #2c3e50;
  --colors-neutral-300: #273746;
  --colors-neutral-200: #1c2833;
  --colors-neutral-100: #17202a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--colors-neutral-500);
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--colors-neutral-700);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--colors-neutral-500);
  border-radius: 20px;
  border: 3px solid transparent;
}

*::selection {
  background-color: var(--colors-neutral-900);
  color: var(--colors-neutral-100);
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
li {
  color: var(--colors-neutral-900);
  font-family: var(--font);
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  text-align: start;
  text-decoration: none;
  list-style: none;
}

a:hover {
  color: var(--colors-neutral-500);
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--colors-neutral-900);
}

button:hover {
  color: var(--colors-neutral-300);
}

.no-scroll {
  overflow-y: hidden;
}
