// COLORS
$primary: #ff0100;
$secondary: #d40100;
$light: #ffffff;
$dark: #171717;
$placeholder: #d4d4d4;
$shadow: #3a1010e8;
$glass: rgba(255, 255, 255, 0.03);
$border: rgb(255, 255, 255, 0.2);

//  EDGES
$curve: 10px;

// EFFECTS
$blur: 5px;

// TYPOGRAPHIES
$font: "Montserrat", sans-serif;

// MEASURES
$pageWidth: 80vw;
$navBarHeight: 8rem;
